@model STPC.DynamicForms.Web.RT.Models.AutoUserViewModel
@{
    ViewBag.Title = "CreateUser";
}
<div id="autouser">
    <h1>Crear Usuario</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset id="formCheckPassword">
            <legend></legend>

            <table class="tablaCreateUsers">
                <tr>
                    <td class="editor-label">
                        @Html.LabelFor(model => model.IDNumber)
                    </td>
                    <td class="editor-field">
                        @Html.DropDownListFor(r => r.IDType, Model.IDTypes)
                        @Html.EditorFor(model => model.IDNumber)
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.IDNumber, null, new { @class = "required", autocomplete = "off" })
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">
                        @Html.LabelFor(model => model.Email)
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.Email)
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "required", autocomplete = "off" })
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">Nombres
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.GivenName)
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.GivenName, null, new { @class = "required", autocomplete = "off" })

                    </td>
                </tr>
                <tr>
                    <td class="editor-label">Apellidos
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.LastName)
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "required", autocomplete = "off" })
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">Dirección
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.Address, new { @class = "required", autocomplete = "off" })
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.Address, null, new { @class = "required", autocomplete = "off" })
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">Teléfono
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.Phone_LandLine)
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.Phone_LandLine, null, new { @class = "required", autocomplete = "off" })
                    </td>
                </tr>
                <tr>
                    <td class="editor-label">Movil
                    </td>
                    <td class="editor-field">
                        @Html.EditorFor(model => model.Phone_Mobile)
                    </td>
                    <td class="area">
                        @Html.ValidationMessageFor(model => model.Phone_Mobile, null, new { @class = "required", autocomplete = "off" })
                    </td>
                </tr>
                @if (ViewBag.IsSingleTenant == 1)
                {
                    <tr>
                        <td class="editor-field">
                            @Html.LabelFor(model => model.AplicationName)
                        </td>
                        <td class="editor-field">
                            @Html.TextBoxFor(model => model.AplicationName)
                        </td>
                        <td class="area">
                            @Html.ValidationMessageFor(model => model.AplicationName, null, new { @class = "required", autocomplete = "off" })
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3">
                        <div style="clear: both !important">
                            <input type="submit" value="Crear" class="decorated" style="float: right !important" />
                        </div>
                    </td>
                </tr>
            </table>

        </fieldset>
        

        <style type="text/css">
            .area {
                height: 25px;
                width: 300px;
                text-align: center;
                font-size: 13px;
                color: #1eb4ec;
                font-weight: 700;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            }



            .required {
                height: 33px;
                width: 300px;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                font-size: 13px;
                font-weight: bold;
                color: #1eb4ec;
                padding-top: 16px;
            }

            div#right-header {
                display: none;
            }

            #content {
                width: 400px;
                height: auto;
                position: relative;
                margin-right: auto;
                margin-left: auto;
                margin-top: -20px;
                background-repeat: repeat;
                background-color: white !important;
            }

            .ng-pristine {
                width: 400px;
                border: none;
            }

            fieldset {
                border: none;
                font-size: 12px;
            }

            .ui-state-default {
                float: right;
            }

            #bottom {
                height: 40px;
            }
        </style>

  

    
    }     @section BottomAssets {
        <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/Accounts/CreateUser.js")" type="text/javascript"></script>}

    <script type="text/javascript">
        jQuery("#frmRegisterUser").submit(function () {
            console.log("submit")

            if ($(".roleUser:checked").length == 0) {
                alert("No se ha seleccionado un role para el usuario")
                return false;
            }


        });

        $(document).ready(function () {
            try {
                $("input[type='text']").each(function () {
                    $(this).attr("autocomplete", "off");
                });
            }
            catch (e)
            { }
        })

    </script>
</div>

