@model STPC.DynamicForms.Web.RT.Models.ChangePasswordModel

@{
    ViewBag.Title = "Cambiar contraseña";
}

<h2>Cambiar contraseña</h2>

<h2>Las nuevas contraseñas deben tener un mínimo de @Membership.MinRequiredPasswordLength characteres
</h2>
 

@using (Ajax.BeginForm("ChangePassword", "Account", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "updateSuccessChangePassword"
}, new { @id = "updateModeloFormNew" }))
{
   @Html.HiddenFor(model => model.TempUserName)
    <div>
        <fieldset class="StylePanelDefault">
             @Html.ValidationSummary(true, "Cambio de contraseña no tuvo éxito. Por favor, corrija los errores e inténtelo de nuevo.")
            
            <legend>Información de la cuenta</legend>
             @if (this.User.Identity.IsAuthenticated)
             {
                <div class="editor-label">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
             }
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Cambiar contraseña" />
            </p>
        </fieldset>
    </div>
}
<script type="text/javascript">
   
    $(document).ajaxStart(function () {
        blockScreen("Cambiando contraseña, Un momento por favor...");
    });

    $(document).ajaxSuccess(function (event, xhr, settings) {
        $.unblockUI();
    });
    function blockScreen(message) {
        $.blockUI({
            message: message,//'Validando usuario y contraseña',
            css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            }
        });
    }
</script>