@model ICollection<STPC.DynamicForms.Web.Common.Services.Users.User>
@{
    ViewBag.Title = "Usuarios";
}
@Html.Hidden("txtTotalPagesList", (string)ViewBag.totalPages)

<table class="resultados" summary="Usuarios registrados">
    <tr>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>E-mail</th>
        <th>Roles</th>
        <th>Aprobado</th>
        <th>Bloqueado</th>
        <th>Jerarquia</th>
        <th>Acciones</th>
    </tr>

    @foreach (var user in Model)
    {
        
        <tr style="text-align: center;">
            <td>@user.Username</td>
            <td>@user.GivenName @user.LastName</td>
            <td>@user.Email</td>
            <td>
                @{for (int count = 0; count < user.Roles.Length; count++)
                  {
                    <p>
                        @user.Roles[count].Rolename.ToString()

                    </p> }}</td>
            <td>@Html.CheckBoxFor(r => user.IsApproved, new { @disabled = "disabled", @style = "display:inline;" })</td>
            <td>@Html.CheckBoxFor(r => user.IsLockedOut, new { @disabled = "disabled", @style = "display:inline;" })</td>
            <td>@user.Hierarchy.Level | @user.Hierarchy.Name</td>
            <td>
                <table style="width: 100%">
                    <tr>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = user.Username }, new { @class = "decoratedButton" })
                        </td>
                        <td>
                            @Html.ActionLink("Reiniciar contraseña", "Reset_Pwd", new { userName = user.Username }, new { @class = "decoratedButton" })
                        </td>
                        <td>
                            @if (this.User.Identity.Name != user.Username)
                            {
                                @Html.ActionLink("Cerrar sesión", "CloseSesionUser", new { userName = user.Username }, new { @class = "decoratedButton" })
                            }
                        </td>
                    </tr>
                </table>



            </td>

        </tr>}
</table>
<script type="text/javascript">
    $(".Button").button()
</script>
