@model STPC.DynamicForms.Web.Services.Entities.PerformanceIndicator
<script src="@Url.Content("~/Scripts/jquery.numeric.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Forms/Respond.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Request/RequestQuery.js")" type="text/javascript"></script>



@{
    ViewBag.Title = "Edit";
 
}


@using (Ajax.BeginForm("Edit", "PerformanceIndicator", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "updateSuccess"
}, new { @id = "updateModelEditForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(e => e.Id)
  
    @Html.HiddenFor(e => e.Modified)
    
    <fieldset>

        <legend>Indicador de Desempeño</legend>

        <table class="tableDialog">
            <tr>
                <td>Tipo Indicador
                </td>
                <td>
                    @Html.TextBoxFor(e => e.IndicatorType)
                </td>
            </tr>

            <tr>
                <td>Procedimiento
                </td>
                <td>
                    @Html.TextBoxFor(e => e.Source)
                </td>
            </tr>
            <tr>
                <td>Valor Max. Violación
                </td>
                <td>
                    @Html.TextBoxFor(e => e.ViolationMaxvalue)
                </td>
            </tr>
            <tr>
                <td>Valor Min. Violación
                </td>
                <td>
                    @Html.TextBoxFor(e => e.ViolationMinvalue)
                </td>
            </tr>
            <tr>
                <td>Valor Max. Alarma
                </td>
                <td>
                    @Html.TextBoxFor(e => e.WarningMaxValue)
                </td>
            </tr>
            <tr>
                <td>Valor Min. Alarma
                </td>
                <td>
                    @Html.TextBoxFor(e => e.WarningMaxValue)
                </td>
            </tr>
            <tr>
                <td>
                    Estado
                </td>
                <td>
                    @Html.CheckBoxFor(e => e.Enabled)
                </td>
            </tr>
            <tr>
                <td>Asignación
                </td>
                <td>
                    @Html.RadioButton("ApplyBy", "R", Model.Role != null?true:false, new { @class = "performIndRadio" }) Por Rol
                     @Html.RadioButton("ApplyBy", "U",false,  new { @class = "performIndRadio" }) Por Usuario
                     @Html.RadioButton("ApplyBy", "H", Model.Hierarchy != null?true:false, new { @class = "performIndRadio" }) Por Herarquia


                   
                </td>
            </tr>
            <tr class="trRole">
                <td>Rol
                </td>
                <td>
                    @Html.DropDownListFor(r => r.Role.Rolename, new SelectList(@ViewBag.roles, "Rolename", "Rolename"), Model.Role!=null? Model.Role.Rolename:"0")
                </td>
            </tr>
            <tr class="trUser">
                <td>Usuario
                </td>
                <td>
                    @Html.DropDownListFor(e => e.LastModifiedBy, new SelectList(@ViewBag.Users, "Id", "Username"), Model.LastModifiedBy)
                </td>
            </tr>
            <tr class="trHierarchy">
                <td>Herarquia
                </td>
                <td>
                    @Html.DropDownListFor(e => e.Hierarchy.Id, new SelectList(@ViewBag.Hierarchy, "Id", "Name"),Model.Hierarchy != null? Model.Hierarchy.Id:0)
                </td>
            </tr>
        </table>
        @Html.Hidden("selectedAssignment", (string)@ViewBag.selectedAssignment,new {@class = "cAssignment"})
    </fieldset>
    @Html.Hidden("Id")
   
}

<script type="text/javascript">

    @if(Model.Role == null)
    {
        <text>
    $(".trRole").hide();
        </text>
    }
    
    @if(1 == 1)
    {
        <text>
    $(".trUser").hide();
        </text>
    }
    

    @if(Model.Hierarchy == null)
    {
        <text>
    $(".trHierarchy").hide();
    </text>
    }
    

    $('.performIndRadio').load(function () {
        alert('open');
        $(".trRole").hide();
        $(".trUser").hide();
        $(".trHierarchy").hide();
    });

    $('.performIndRadio').click(function () {
        var transitionTime = 0;
        if ($(this).val() == 'R') {
            $(".trRole").show(transitionTime);
            $(".trUser").hide(transitionTime);
            $(".trHierarchy").hide(transitionTime);

        }
        else if ($(this).val() == 'U') {
            $(".trRole").hide(transitionTime);
            $(".trUser").show(transitionTime);
            $(".trHierarchy").hide(transitionTime);

        }
        else if ($(this).val() == 'H') {
            $(".trRole").hide(transitionTime);
            $(".trUser").hide(transitionTime);
            $(".trHierarchy").show(transitionTime);

        }
    });

</script>
