@model STPC.DynamicForms.Web.Models.LoginViewModel
@{
    ViewBag.Title = "LiSim Abc";
}
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "align_center", id = "frmRecovery", autocomplete = "off" }))
{
     @Html.AntiForgeryToken()
    <div id="login">
        <div id="loginbox">
            <h1>Recuperar contraseña.</h1>
            <table class="tablalogin">
                <tr>
                    <td>
                        <h2>Usuario</h2>
                        <label>
                            @Html.DropDownListFor(r => r.Idtype, Model.IDTypes, new { id = "ddlIdType" })
                            @Html.EditorFor(model => model.Username, null, new { id = "txtUserName" })
                            @Html.ValidationMessageFor(model => model.Username)
                        </label>
                    </td>
                    <td></td>
                </tr>

                <tr>
                    <td class="align_bottom">
                        @Html.ActionLink("Continuar", "LoadQuestionUser", null, new { @class = "NewLink", title = "Nuevo" })
                    </td>
                </tr>

            </table>
            @Html.ValidationSummary("")

        </div>
        <div id="AnswerDialog" title="Preguntas de seguridad" style="display: none; width: 800px">
        </div>
        <div id="ChangePassword" title="Cambiar contraseña">
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        $('input[type=text]').attr('autocomplete', 'off');
    });
    $(function () {
        $(".NewLink").button();
        $('#AnswerDialog').dialog({
            autoOpen: false,
            width: 650,
            resizable: false,
            modal: true,
            buttons: {
                "Validar": function () {

                    $("#updateModeloAnswerQuestion").submit();

                },
                "Cancelar": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".NewLink").click(function () {
            var form = $('#frmRecovery');
            var token = $('input[name="__RequestVerificationToken"]', form).val();
            linkObj = $(this);
            var dialogDiv = $('#AnswerDialog');
            $.ajax({
                type: "POST",
                url: "/Account/LoadQuestionUser/",
                data: {
                    '__RequestVerificationToken': token,
                    'Username': $("#Username").val(),
                    'Idtype': $("#ddlIdType").val()
                },

                success: function (data) {
                    if (data.Success != false) {
                        dialogDiv.html(data);
                        var $form = $("#updateModeloAnswerQuestion");
                        $form.unbind();
                        $form.data("validator", null);
                        $.validator.unobtrusive.parse(document);
                        $form.validate($form.data("unobtrusiveValidation").options);
                        dialogDiv.dialog('open');
                    }
                    else {
                        alert(data.ErrorMessage)
                    }
                }
            });
            return false;
        });
    });


    function updateSuccess(data) {
        var form = $('#frmRecovery');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        if (data.Success != false) {
            $("#AnswerDialog").dialog("close");
            var dialogDiv = $('#ChangePassword');

            $.ajax({
                type: "POST",
                url: "/Account/ChangePasswordFromRecovery/",
                data: {
                    '__RequestVerificationToken': token,
                    'userName': $("#Username").val(),
                    'Idtype': $("#ddlIdType").val()
                },
                success: function (data) {
                    dialogDiv.html(data);
                    var $form = $("#updateModeloAnswerQuestion");
                    $form.unbind();
                    $form.data("validator", null);
                    $.validator.unobtrusive.parse(document);
                    $form.validate($form.data("unobtrusiveValidation").options);
                    dialogDiv.dialog('open');
                },
                error: function (req, status, error) {
                    alert(error);
                    $.unblockUI();
                }
            });
            return false;
        }
        else
            alert(data.ErrorMessage)
    }

    function updateSuccessChangePassword(data) {
        if (data.Success != false) {
            alert("Cambio de contraseña efectuado correctamente, Ingrese de nuevo.")
            var urlSite = window.location.origin = window.location.protocol + "//" + window.location.hostname + (window.location.port ? ':' + window.location.port : '');
            location.href = urlSite
        }
        else
            alert(data.ErrorMessage)
    }

    $(function () {

        $('#ChangePassword').dialog({
            autoOpen: false,
            width: 650,
            resizable: false,
            modal: true,
        });


    });


</script>
