@model STPC.DynamicForms.Web.Services.Entities.PageMathOperation
@{
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>    
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>       
    <script src="@Url.Content("~/Scripts/PageMathOperation/redips-drag-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PageMathOperation/script.js")" type="text/javascript"></script>
    Layout = "~/Views/Shared/_LiSimAuthLayout.cshtml";
   
 
}
@using (Ajax.BeginForm("Create", "PageMathOperation", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "updateSuccess"
}, new { @id = "updateModelForm" }))
{
    @Html.ValidationSummary(true)
        
    @Html.Hidden("Id")
   
}
<div id="drag">
    <!-- table1 -->

    <table id="table1">
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
        </colgroup>
        <tbody>
            <!-- clone 2 elements + last element -->
            <tr>
                <td>
                    <div id="ar1" class="drag blue clone" title="(">(</div>
                    <div id="ar2" class="drag blue clone" title=")">)</div>
                </td>
                <td>
                    @foreach (var item in (IEnumerable<STPC.DynamicForms.Web.Services.Entities.PageField>)ViewBag.fieldList)
                    {
                        <div id=@item.Uid class="drag orange clone" title=@item.Uid>@item.FormFieldName</div>
                    }
                </td>
                <td>
                    <div id="op1" class="drag blue clone" title="+">+</div>
                    <div id="op2" class="drag blue clone" title="-">-</div>
                    <div id="op3" class="drag blue clone" title="*">*</div>
                    <div id="op4" class="drag blue clone" title="/">/</div>
                    <div id="op5" class="drag blue clone" title="%">%</div>
                    <div id="op6" class="drag blue clone" title="^">^</div>
                </td>
                <td>
                    <div id="Constant" class="drag blue clone">
                        <input type="text" class="clone constant" />
                    </div>
                </td>
                <td class="trash">Quitar</td>
            </tr>
        </tbody>
    </table>

    <table id="tableCampos">
        <colgroup>
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
        </colgroup>
        <tbody>
            <tr>
                @{
                    int countFields = (int)ViewBag.countField;
                    int count = 0;
                    List<STPC.DynamicForms.Web.Controllers.StructureMathOperation> listField = (List<STPC.DynamicForms.Web.Controllers.StructureMathOperation>)ViewBag.fieldListMathOperation;

                    for (int i = 0; i < 8; i++)
                    {
                        if (i < listField.Count)
                        {                            
                    <td>
                        <div id=@listField[i].FieldGuid class="drag orange" title=@listField[i].FieldGuid>@listField[i].FieldName</div>
                    </td>
                        }
                        else
                        {
                    <td></td>
                        }
                    }
                    
                }

            </tr>
            <tr>
                @{
                                       
                    for (int i = 8; i < 16; i++)
                    {

                        if (i < listField.Count)
                        {
                    <td>
                        <div id=@listField[i].FieldGuid class="drag orange" title=@listField[i].FieldGuid>@listField[i].FieldName</div>
                    </td>
                        }
                        else
                        {
                    <td></td>
                        }
                    }
                    
                }
            </tr>
            <tr>
                @{
                                       
                    for (int i = 16; i < 24; i++)
                    {

                        if (i < listField.Count)
                        {
                    <td>
                        <div id=@listField[i].FieldGuid class="drag orange" title=@listField[i].FieldGuid>@listField[i].FieldName</div>
                    </td>
                        }
                        else
                        {
                    <td></td>
                        }
                    }
                    
                }
            </tr>
            <tr>
                @{
                                       
                    for (int i = 24; i < 32; i++)
                    {

                        if (i < listField.Count)
                        {
                            if (i < 31)
                            {
                    <td>
                        <div id=@listField[i].FieldGuid class="drag orange" title=@listField[i].FieldGuid>@listField[i].FieldName</div>
                    </td>
                            }
                            else
                            {
                    <td id="lastCell">
                        <div id=@listField[i].FieldGuid class="drag orange" title=@listField[i].FieldGuid>@listField[i].FieldName</div>
                    </td>
                            }
                        }
                        else
                        {
                            if (i < 31)
                            {
                    <td id="lastCell"></td>
                            }
                            else
                            {
                    <td id="lastCell"></td>
                            }
                        }
                    }

                }


            </tr>
        </tbody>
    </table>

    <table id="tableResultado">
        <colgroup>
            <col width="100" />

        </colgroup>
        <tbody>
            <tr>
                Campo resultado
            </tr>
            <tr>
                <td id="lastCell">
                    <div id=@ViewBag.resultFieldId class="drag orange" title=@ViewBag.resultFieldId>@ViewBag.resultFieldName</div>
                </td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Guardar", "List", null, new { @class = "decorated", id = "btnReturn" })
    @Html.ActionLink("Cancelar", "Index", "PageMathOperation", new { id = ViewBag.Data_FormPageId }, new { @id = "btnReturnForm", @class = "decorated" })

</div>
<!-- jQuery dialog -->
<div id="dialog" title="jQuery dialog">Seleccione una acción!</div>

<script type="text/javascript">
    $(".decorated").button();
    $("#btnReturn")
            .button()
            .click(function () {
                var expretionResult = '';                
                var IdResult = '';
                var tableCampos = $("#tableCampos tbody");
                var tableResultado = $("#tableResultado tbody");

                tableCampos.find('tr').each(function (key, val) {
                    $(this).find('td div').each(function (key, val) {
                        var $div = $(this);

                        if ($div.children().length) {
                            var $childDiv = $div.children();
                            expretionResult += $childDiv.val();
                        }
                        else
                            expretionResult += $div.attr('title');
                    });
                });

                //Busca el campo resultado
                tableResultado.find('tr').each(function (key, val) {
                    $(this).find('td div').each(function (key, val) {
                        var $div = $(this);
                        IdResult += $div.attr('title');
                    });
                });

                if (IdResult == '') {
                    alert('No se ha configurado un campo resultado')
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/PageMathOperation/Edit/",
                        data: {
                            'expretion': expretionResult,
                            'resultField': IdResult,
                            'panelUid': 'f891c262-b6f8-477f-9b1e-a72482bfc303',
                            'id': '@ViewBag.pageMathOperationId'
                            },
                        dataType: "html",
                        success: function (evt) {
                            var pageUid = '@ViewBag.Data_FormPageId';
                            window.location.href = '/PageMathOperation/Index/' + pageUid
                        },
                        error: function (req, status, error) {
                            alert("Error!Occured" + error);

                        }
                    });
                    }
                return false;
            });

</script>
