@model IEnumerable<STPC.DynamicForms.Web.RT.Services.Entities.FormPage>
@{
  ViewBag.Title = "Vista Previa";
}
<h2>Crear nueva solicitud @ViewBag.FormName</h2>
@if (Model.Count() == 0)
{ 
  <h1>Este formulario no tiene páginas</h1>
}
else
{
  <div id="FormPagesPaginator">
    @foreach (var page in Model)
    {
        <input id="@page.Uid" value="@page.Name" type="button" class="FormPageSelectorDt"/>
      
    }
    <div id="FormPageAnswers">
      @{
            Html.RenderAction("Respond_dt", "FormPage", new { id = Model.First().Uid });
      }
    </div>
  </div>
}

<div id="modalContents" title="Cargar Archivos" style="display: none;">
  @using (Ajax.BeginForm("SaveFile", "FormPage", new AjaxOptions
  {
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    OnSuccess = "updateSuccess"
  }, new { @id = "ActualizarListas" }))
  {
    <label>Seleccione el archivo que desea cargar</label>
    <br />
    <input type="file" id="fileUp" name="fileUp" value="Examinar" onchange="updateSuccess()" />
    
    <br />
@*<input type="submit" value="Cargar" />
    <input type="button" value="Cancelar" />*@
  }
</div>

@Html.Hidden("txtSender")

@section BottomAssets {
  @*<script src="@Url.Content("~/Scripts/Forms/Respond.js")" type="text/javascript"></script>*@
  <script src="@Url.Content("~/Scripts/Currency/jquery-1.4.0.js")" type="text/javascript"></script>
  

  <script type="text/javascript">
   

    function ModalFileUpload(sender) {
      $("#txtSender").val(sender.name);
      $("#modalContents").dialog({ bgiframe: true, height: 140, modal: true });
    }

    function UploadFile() {
      var ajaxSubmitOptions = {

        beforeSubmit: showRequest,  // pre-submit callback 
        success: showResponse,  // post-submit callback 
        error: function (response, status, err) {
          // This option doesn't catch any of the error below, 
          // everything is always 'OK' a.k.a 200
          if (response.status == 400) {
            alert("Sorry, this is bad request!");
          }
          if (response.status == 601) {
            sessionTimedOut();
          }
        }
      }

      $("#ActualizarListas").ajaxSubmit(ajaxSubmitOptions);
      return false;
      //        updateSuccess();
    }

    // pre-submit callback 
    function showRequest(formData, jqForm, options) {
      var queryString = $.param(formData);
      return true;
    }

    // post-submit callback 
    function showResponse(responseText, statusText, xhr, $form) {
      if (responseText != null) {
        // TODO: AQUI, COMO HACER LLEGAR EL SENDER
        //alert('valor' + $("#txtSender").val());
        $("#UriFile_" + $("#txtSender").val()).attr('href', responseText);
        $("#UriFile_" + $("#txtSender").val()).removeAttr('style');
        $("#UriFile_" + $("#txtSender").val()).attr('style', 'visibility: visible');
        $("#hidden_" + $("#txtSender").val()).attr('value', responseText);

        //$("#ResultStrategy" + sender.name).text(result)
        //<a style="visibility: visible"></a>

      }

      updateSuccess();
    }

    function updateSuccess() {
      document.getElementById('fileUp').setAttribute('type', 'input');
      document.getElementById('fileUp').setAttribute('type', 'file');

      $("#modalContents").dialog("close");
    }

  </script>
}